* {
  padding: 0px;
  margin: 0px;
}

.text-yellow {
  color: yellow;
}

.margin-atas {
  margin: 10px 20px;
  /* padding: 0px auto; */
  /* text-align: center; */
}

.container1 {
  background-color: aqua;

  /* height: 100px; */
  /* font-size: xx-large */
}

.container2 {
  background-color: salmon;
}
.container3 {
  background-color: slategrey;
}

.container {
  display: flex;
  /* background-color: chartreuse; */
  /* width: 100%; */
  flex-wrap: wrap;
}
.container > div {
  flex-basis: 24%;
  /* flex: 24%; */
  margin: 1vh 5px;
  height: 20vh;
  /* buat bikin tulisannya ketengah vertical horizontal */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
